<div class="sc-iNGGcK kXwZbl __pf __pf_PO0TK6AQ" id="__pf"><div data-pf-type="Body" class="sc-evcjhq leJfDA pf-4_"><div data-pf-type="Layout" class="sc-brSvTw hrizkJ pf-5_"><div data-section-id="pf-2356" data-pf-type="Section" class="sc-uojGG hMqLeX pf-62_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-ilfuhL bpQaoh"><div class="sc-iqseJM ducrfW pf-61_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh cCunWv pf-60_"><img src="https://cdn.shopify.com/s/files/1/0718/7375/7471/files/lazy-logo-green.webp?v=1711599817" loading="lazy" width="1200" height="472" data-pf-type="Image3" data-animation="fadeIn" class="sc-fbyfCU cCdixN pf-63_ pf-image-1"/></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Homepage","pageType":"home","pageId":"4f3a1e0e-9f3b-4a79-bf91-67b684f99ae7","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.11.4","shopDomain":"bobo-mattress.myshopify.com","elementData":{},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.11.4/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://bobo-mattress.myshopify.com/admin/apps/pagefly/editor?id=4f3a1e0e-9f3b-4a79-bf91-67b684f99ae7&type=home)."
    }
  ]
}
{% endschema %}