<section class="section-custome color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="guarantee-content">
          {% for block in section.blocks %}
            <div class="icon-and-text">
              <div class="icon">
                <img
                  src="{{ block.settings.image | img_url: 'master' }}"
                  alt="{{ block.settings.image.alt | escape }}"
                >
              </div>
              <div class="text">
                <p>{{ block.settings.image_text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Support And Guarantee",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Support And Guarantee",
      "label": "t:sections.support-and-guarantee.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.support-and-guarantee.blocks.image.settings.image.label"
        },
        {
          "type": "text",
          "id": "image_text",
          "label": "t:sections.support-and-guarantee.blocks.image.settings.image_text.label"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Support And Guarantee"
    }
  ]
}
{% endschema %}
