@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

h1,h1,h3,h4,h5,h6,div,p,a,li {
    font-family: "League Spartan", sans-serif !important;
    margin-bottom: 0px;
}


.custome-main-content {
    margin-top: 107px;
}
/* header */
.custome-header {
    background-color: transparent;
    transition: all ease-in-out .3s;
}
.custome-content-header {
    justify-content: space-between;
    grid-template-columns: auto;
    transition: all ease-in-out .3s;
}
.section-header-shrink .custome-header {
    background-color: #FFFFFF;
    transition: all ease-in-out .3s;
}
.section-header-shrink .custome-header .custome-content-header {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all ease-in-out .3s;
}
/* footer */
.headline-footer-menu,
.list-menu-footer a,
.text-footer-lazy-lowie,
.text-subscribe {
    color: #F0F0F0;
}

.new-footer {
    background-color: #005750;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer a img {
    max-height: 60px;
}

.text-footer-lazy-lowie {
    max-width: 280px;
    font-size: 14px;
    margin-top: 40px;
}
.text-subscribe {
    font-size: 14px;
    font-weight: 600;
    margin-top: 14px;
}
.footer-menu-custome {
    display: flex;
    justify-content: end;
    gap: 40px;
}
.list-menu-footer {
    display: grid;
    gap: 8px;
}
.list-menu-footer a {
    text-decoration: none;
    font-size: 14px;
}
.list-menu-footer a:focus,
.list-menu-footer a:hover,
.list-menu-footer a:active  {
    text-decoration: underline;
}
.footer-media-social {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}
.footer-media-social li a {
    color: #F0F0F0;
    padding: 0;
}

.row-medsos {
    margin-top: 80px;
}
.form-email-custome {
    max-width: 25%;
    margin-top: 16px;
}
.form-input-custome {
    height: 28px;
    padding: 0px;
    font-size: 12px;
}
.form-input-custome:focus,
.form-input-custome:active,
.form-input-custome:focus-visible {
    box-shadow: none;
    border: none;
}
.field-label-custome {
    top: 6px;
    font-size: 12px;
}
.custome-field-button {
    height: 100%;
}
.custome-field-button svg {
    height: 14px;
    width: 14px;
}
.form-input-custome:focus~.field-label-custome {
    font-size: 10px;
    top: 4px;
}
.newsletter-form-custome {
    border: #F0F0F0 !important;
}
.form-message-custome {
    font-size: 12px;
    color: #F0F0F0;
}
.mascot-image {
    display: flex;
    max-height: 100%;
}
.mascot-image img {
    max-height: 70px;
    margin-top: auto;
    margin-left: auto;
}
.divider-footer {
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    margin: 20px 0;
    display: block !important;
}
.year-development {
    font-size: 12px;
    color: #F0F0F0;
}
/* section-banner-liquid */
.section-custome {
    padding: 80px 40px;
}
.image-banner a img {
    max-width: 100%;
}
.title-banner {
    margin-bottom: 40px;
}
.title-banner h3 {
    text-align: center;
    font-size: 24px;
    color: #005750;
    font-weight: 600;
    
}
.header-custome-middle {
    grid-template-columns: auto;
}
.header-custome-middle .header__inline-menu {
    text-align: center;
}
.header-custome-middle .header__inline-menu .header__menu-item span:focus,
.header-custome-middle .header__inline-menu .header__menu-item span:active,
.header-custome-middle .header__inline-menu .header__menu-item span:hover {
    text-decoration: none !important;
    font-weight: 600;
}
.image-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}
.title-instagram-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-instagram-post h3 {
    font-size: 24px;
    color: #005750;
    font-weight: 500;
}
.title-center-multicolumn {
    font-size: 24px !important;
    color: #005750;
    font-weight: 500 ;
    text-align: center;
}
.post-content {
    margin-top: 40px;
}
.custom-nav-swiper {
    display: contents !important;
}
.custom-nav-swiper::after {
    font-size: 20px;
    color: #005750;
    font-weight: 600;
    opacity: 1;
}
.custom-nav-swiper.swiper-button-disabled::after {
    opacity: .35;
}
.navigation-slider {
    display: flex;
    gap: 30px;
}
.title-no-wrapper {
    display: flex;
    justify-content: center !important;
}
.header__active-menu-item,
.header__menu-item:hover,
.header__menu-item:hover span {
    text-decoration: none;
}
.header__active-menu-item {
    font-weight: 700;
}
.headline-footer-menu {
    font-size: 16px;
    font-weight: 700;
}
.swiper-slider-custome {
    position: relative;
}
.hover-image-ig {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border-radius: 30px;
}
.hover-image-ig svg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all ease-in-out .3s;
}
.hover-image-ig svg:hover {
    opacity: 1;
    transition: all ease-in-out .3s;
}
.custome-card-product {
    border: none;
}
.card-heading-custome {
    margin-top: 14px !important;
}
.products-size-content {
    display: flex;
    gap: 8px;
}
.products-size-content .size-item {
    font-size: 12px;
    font-weight: 500;
    padding: 14px 8px;
    border: 1px solid #005750;
    border-radius: 4px;
    color: #005750;
    line-height: 0;
}
.card-heading-custome {
    font-size: 16px;
    font-weight: 600;
    color: #005750;
}
.underline-links-hover:hover a {
    text-decoration: none !important;
    opacity: .7 !important;
    transition: all ease-in-out .3s;
}
.card-custome-media {
    border-radius: 20px !important;
}
.card-badge-custome span {
    font-size: 12px;
    font-weight: 500;
    border-radius: 14px;
    padding: 8px 14px;
}
.price-item-sale-custome {
    font-weight: 600;
}
.card-review {
    border-radius: 20px;
    padding: 20px;
    background-color: #005750;
}
.star-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star-and-date .date {
    font-size: 12px;
    color: #F0F0F0;
    font-weight: 500;
}
.text-review p {
    font-size: 12px;
    font-weight: 500;
    color: #F0F0F0;
    letter-spacing: .8px;
}
.text-review,
.user-review {
    margin-top: 15px;
}
.user-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.user-review h5 {
    font-weight: 600;
    color: #F0F0F0;
    font-size: 16px;
}
.user-review img {
    max-width: 50px;
    height: 50px;
    border-radius: 50px
}
.review-list-card {
    margin-top: 40px;
}
.header-review h3 {
    font-size: 28px;
    color: #3D3D3D;
    text-align: center;
}
.background-slider-desktop {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
    display: block;
}
.background-slider-mobile {
    display: none;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
}
.text-custome-slider {
    position: absolute;
    left: 80px;
    bottom: 80px;
}
.text-custome-slider h5 {
    font-size: 48px;
    color: #F0F0F0;
    letter-spacing: .8px;
}
.swiper-custome-slider-pagination .swiper-pagination-bullet {
    background: #ffffff80;
    transition: all ease-in-out .3s;
}
.swiper-custome-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 4px;
    background: #fff;
    transition: all ease-in-out .3s;
}
.guarantee-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.icon-and-text {
    display: grid;
    gap: 14px;
    text-align: center;
}
.icon img {
    width: 100px;
    height: 100px;
}
.text p {
    font-size: 14px;
    color: #F0F0F0;
    font-weight: 400;
}
.bg-green {
    background-color: #005750;
}
.banner-media-custome img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* responsive */
@media screen and (min-width: 280px) and (max-width: 319px) {
    .row-medsos {
        margin-top: 40px;
    }
    .form-email-custome {
        max-width: 100%;
    }
    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0;
    }
    .mascot-image {
        margin-top: 14px;
    }
    .text-footer-lazy-lowie {
        margin-top: 20px;
    }
    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start;
    }
    .header-mobile {
        display: flex;
    }
    .header-desktop {
        display: none;
    }
    .section-custome {
        padding: 40px 10px;
    }
    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 18px;
        color: #005750;
        font-weight: 600;
        
    }
    .image-instagram img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        border-radius: 10px;
    }
    .title-instagram-post h3 {
        font-size: 18px;
        color: #005750;
    }
    .title-center-multicolumn {
        font-size: 18px;
        color: #005750;
        font-weight: 500;
    }
    .post-content {
        margin-top: 20px;
    }
    .custom-nav-swiper::after {
        font-size: 14px;
        color: #005750;
    }
    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750;
    }
    .review-list-card {
        margin-top: 20px;
    }
    .header-review h3 {
        font-size: 20px;
    }
   .background-slider-desktop {
        display: none;
    }
    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
    }
    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px;
    }
    .text-custome-slider h5 {
        font-size: 32px;
        max-width: 100%;
    }
    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 320px) and (max-width: 427px) {
   .row-medsos {
        margin-top: 40px;
    }
    .form-email-custome {
        max-width: 100%;
    }
    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0;
    }
    .mascot-image {
        margin-top: 14px;
    }
    .text-footer-lazy-lowie {
        margin-top: 20px;
    }
    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start;
    }
    .header-mobile {
        display: flex;
    }
    .header-desktop {
        display: none;
    }
    .section-custome {
        padding: 40px 10px;
    }
    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 18px;
        color: #005750;
        font-weight: 600;
    }
    .title-center-multicolumn {
        font-size: 18px;
        color: #005750;
        font-weight: 500;
    }
    .custom-nav-swiper::after {
        font-size: 16px;
        color: #005750;
    }
    .post-content {
        margin-top: 20px;
    }
    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750;
    }
    .review-list-card {
        margin-top: 20px;
    }
    .header-review h3 {
        font-size: 20px;
    }
    .background-slider-desktop {
        display: none;
    }
    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
    }
    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px;
    }
    .text-custome-slider h5 {
        font-size: 32px;
        max-width: 100%;
    }
    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
    .row-medsos {
        margin-top: 40px;
    }
    .form-email-custome {
        max-width: 100%;
    }
    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0;
    }
    .mascot-image {
        margin-top: 14px;
    }
    .text-footer-lazy-lowie {
        margin-top: 20px;
    }
    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start;
    }
    .header-mobile {
        display: flex;
    }
    .header-desktop {
        display: none;
    }
    .section-custome {
        padding: 40px 10px;
    }
    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 18px;
        color: #005750;
        font-weight: 600;
        
    }
    .title-center-multicolumn {
        font-size: 18px;
        color: #005750;
        font-weight: 500;
    }
    .custom-nav-swiper::after {
        font-size: 16px;
        color: #005750;
    }
    .post-content {
        margin-top: 20px;
    }
    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750;
    }
    .review-list-card {
        margin-top: 20px;
    }
    .header-review h3 {
        font-size: 20px;
    }
    .background-slider-desktop {
        display: none;
    }
    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover;
    }
    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px;
    }
    .text-custome-slider h5 {
        font-size: 32px;
        max-width: 100%;
    }
    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .row-medsos {
        margin-top: 60px;
    }
    .form-email-custome {
        max-width: 75%;
    }
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: flex;
    }
    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 20px;
        color: #005750;
        font-weight: 600;
        
    }
    .title-center-multicolumn {
        font-size: 20px;
        color: #005750;
        font-weight: 500;
    }
    .custom-nav-swiper::after {
        font-size: 18px;
        color: #005750;
    }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
    .row-medsos {
        margin-top: 60px;
    }
    .form-email-custome {
        max-width: 75%;
    }
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: flex;
    }
    .header-custome-middle {
        grid-template-columns: auto;
    }
    .header-custome-middle .header__inline-menu {
        text-align: center;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 20px;
        color: #005750;
        font-weight: 600;
        
    }
    .title-center-multicolumn {
        font-size: 20px;
        color: #005750;
        font-weight: 500;
    }
    .custom-nav-swiper::after {
        font-size: 18px;
        color: #005750;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .row-medsos {
        margin-top: 60px;
    }
    .form-email-custome {
        max-width: 50%;
    }
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: flex;
    }
    .header-custome-middle {
        grid-template-columns: auto;
    }
    .header-custome-middle .header__inline-menu {
        text-align: center;
    }
    .title-banner h3 {
        text-align: center;
        font-size: 24px;
        color: #005750;
        font-weight: 600;
        
    }
    .title-center-multicolumn {
        font-size: 24px;
        color: #005750;
        font-weight: 500;
    }
    .custom-nav-swiper::after {
        font-size: 20px;
        color: #005750;
    }
}

