@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

h1,
h1,
h3,
h4,
h5,
h6,
div,
p,
a,
li,
button ::after,
::before {
    font-family: "League Spartan", sans-serif !important;
    margin-bottom: 0
}

.product .price .badge, .product .price__container {
    font-weight: 400;
}

.field__label, .customer .field label {
    font-size: 12px;
}

.header__menu-item span {
    font-size: 14px;
}

.number p {
    font-size: 12px;
}

.position-left {
    display: flex !important;
    justify-content: start !important;
    text-align: start;
}

.position-center {
    display: flex !important;
    justify-content: center !important;
    text-align: center;
}

.position-right {
    display: flex !important;
    justify-content: end !important;
    text-align: end;
}


.custome-header {
    background-color: transparent;
    transition: all ease-in-out .3s
}

.custome-content-header {
    justify-content: space-between;
    grid-template-columns: auto;
    transition: all ease-in-out .3s
}

.section-header-shrink .custome-header {
    background-color: #fff;
    transition: all ease-in-out .3s
}

.section-header-shrink .custome-header .custome-content-header {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all ease-in-out .3s
}

.headline-footer-menu,
.list-menu-footer a,
.text-footer-lazy-lowie,
.text-subscribe,
.desc-text-subscribe {
    color: #f0f0f0;
    text-decoration: none;
}

.new-footer {
    background-color: #005750;
    padding-top: 60px;
    padding-bottom: 60px
}

.logo-footer a img {
    max-height: 40px
}

.text-footer-lazy-lowie {
    max-width: 280px;

    margin-top: 20px
}

.text-subscribe {

    font-weight: 600;
    width: 50%;
}

.desc-text-subscribe {

    width: 50%;
}

.footer-menu-custome {
    display: flex;
    justify-content: end;
    gap: 40px
}

.list-menu-footer {
    display: grid;
    gap: 8px
}

.list-menu-footer a {
    text-decoration: none;

    opacity: 1;
    transition: all ease-in-out .3s;
}

.list-menu-footer a:focus,
.list-menu-footer a:hover,
.list-menu-footer a:active {
    text-decoration: none;
    opacity: .8;
    transition: all ease-in-out .3s;
}

.footer-media-social {
    display: flex;
    justify-content: flex-start;
    gap: 14px
}

.footer-media-social li a {
    color: #f0f0f0;
    padding: 0
}

.row-medsos {
    margin-top: 80px
}

.form-email-custome {
    max-width: 25%;
    margin-top: 16px
}

.form-input-custome {
    height: 28px;
    padding: 0;

}

.form-input-custome:focus,
.form-input-custome:active,
.form-input-custome:focus-visible {
    box-shadow: none;
    border: 0
}

.field-label-custome {
    top: 6px;

}

.custome-field-button {
    height: 100%
}

.custome-field-button svg {
    height: 14px;
    width: 14px
}

.form-input-custome:focus~.field-label-custome {
    ;
    top: 4px
}

.newsletter-form-custome {
    border: #f0f0f0 !important
}

.form-message-custome {

    color: #f0f0f0
}

.mascot-image {
    display: flex;
    height: 100%;
    margin-bottom: auto
}

.mascot-image img {
    max-height: 70px;
    margin-top: auto;
    margin-left: auto
}

.divider-footer {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin: 20px 0;
    display: block !important
}

.year-development {

    color: #f0f0f0
}

.section-custome {
    padding: 80px 40px
}

.section-custome-full {
    padding: 80px 0
}

.image-banner a img {
    max-width: 100%;
    transition: all ease-in-out .3s;
    aspect-ratio: 1/1;
}

.image-banner a img:hover {
    opacity: .8;
    transition: all ease-in-out .3s
}

.title-banner {
    margin-bottom: 40px
}

.title-banner h3 {
    text-align: center;
    font-weight: 600;
    color: #005750;
}

.custome-main-content-layout {
    padding-top: 84px;
}

.header-wrapper-custome {
    background: transparent;
    border-bottom: none;
}


.header-wrapper-custome.scroll {
    background: #FFFFFF;
    transition: all ease-in-out .3s;
}

.header-custome-middle {
    grid-template-columns: auto;
}

.header-custome-middle .header__inline-menu {
    text-align: center
}

.header-custome-middle .header__inline-menu .header__menu-item span:focus,
.header-custome-middle .header__inline-menu .header__menu-item span:active,
.header-custome-middle .header__inline-menu .header__menu-item span:hover {
    text-decoration: none !important;
    font-weight: 600
}

.image-instagram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1
}

.image-kol img {
    width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    border-radius: 20px 20px 0px 0px;
}

.image-kol video {
    width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    border-radius: 20px 20px 0px 0px;
}

.title-instagram-post {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.title-kol-post {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.title-kol-post h3 {

    font-weight: 600;
    color: #005750;
}

.title-center-multicolumn {
    font-weight: 600;
    text-align: center
}

.post-content {
    margin-top: 40px
}

.custom-nav-swiper {
    display: contents !important
}

.custom-nav-swiper::after {

    color: #005750;
    font-weight: 600;
    opacity: 1
}

.custom-nav-swiper.swiper-button-disabled::after {
    opacity: .35
}

.navigation-slider {
    display: flex;
    gap: 30px
}

.header__active-menu-item,
.header__menu-item:hover,
.header__menu-item:hover span {
    text-decoration: none
}

.header__active-menu-item {
    font-weight: 600
}

.headline-footer-menu {

    font-weight: 600;
    margin-bottom: 14px;
}

.swiper-slider-custome {
    position: relative
}

.hover-image-ig {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px
}

.hover-image-ig svg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all ease-in-out .3s
}

.hover-image-ig svg:hover {
    opacity: 1;
    transition: all ease-in-out .3s
}

.custome-card-product {
    border: 0
}

.card-heading-custome {
    margin-top: 14px !important
}

.product-size {
    position: relative;
    height: 30px
}

.products-size-content {
    position: absolute;
    width: 100%;
    z-index: 1000
}

.products-size-content .size-item {

    font-weight: 500;
    padding: 14px 8px;
    border: 1px solid #005750;
    border-radius: 4px;
    color: #005750;
    line-height: 0;
    width: auto;
    text-decoration: none;
    transition: all ease-in-out .3s
}

.products-size-content .size-item:hover,
.products-size-content .size-item:focus {
    background-color: #005750;
    color: #fff;
    border: 1px solid #005750;
    transition: all ease-in-out .3s;
    opacity: 1
}

.card-heading-custome {

    font-weight: 600;
    color: #005750
}

.underline-links-hover:hover a {
    text-decoration: none !important;
    opacity: .7 !important;
    transition: all ease-in-out .3s
}

.card-badge-custome span {

    font-weight: 500;
    padding: 8px 14px
}

.price-item-sale-custome {
    font-weight: 600
}

.card-review {
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: #005750
}

.star-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 0px 20px;
}

.star-and-date .date {

    color: #f0f0f0;
    font-weight: 500
}

.text-review p {

    font-weight: 500;
    color: #f0f0f0;
    letter-spacing: .8px
}

.text-review,
.user-review {
    margin-top: 15px;
    padding: 0px 20px
}

.user-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.user-review h5 {
    font-weight: 600;
    color: #f0f0f0;

}

.user-review img {
    max-width: 40px;
    height: 40px;
    border-radius: 40px
}

.review-list-card {
    margin-top: 40px
}

.header-review h3 {
    font-weight: 600;
    color: #005750;
    text-align: center
}

.background-slider-desktop {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    display: block
}

.background-slider-mobile {
    display: none;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover
}

.text-custome-slider {
    position: absolute;
    left: 80px;
    bottom: 80px
}

.text-custome-slider h5 {
    letter-spacing: .8px
}

.text-custome-slider a {
    letter-spacing: .8px;
    text-decoration: none;
    transition: all ease-in .3s
}

.text-custome-slider a:hover,
.text-custome-slider a:focus {
    opacity: .8;
    transition: all ease-in-out .3s;
    text-decoration: none
}

.swiper-custome-slider-pagination .swiper-pagination-bullet {
    background: #ffffff80;
    transition: all ease-in-out .3s
}

.swiper-custome-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 4px;
    background: #fff;
    transition: all ease-in-out .3s
}

.guarantee-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto
}

.icon-and-text {
    display: grid;
    gap: 14px;
    text-align: center
}

.icon img {
    width: auto;
    height: 60px
}

.text p {

    color: #f0f0f0;
    font-weight: 400
}

.bg-green {
    background-color: #005750;
    padding: 40px 40px
}

.banner-media-custome img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center
}

.multicolumn-card-rounded {
    background-color: transparent;
    transition: all ease-in .3s
}

.multicolumn-card-rounded:hover,
.multicolumn-card-rounded:focus {
    opacity: .8;
    transition: all ease-in .3s
}

.product-info-image {
    width: 100%
}

.product-media-custome-container {
    border: 0
}

.product-form__input--pill input[type=radio]+label {
    line-height: normal;
    padding: 8px 12px
}

.product-description-custome {

    letter-spacing: .8px
}

.product-accordion-custome .summary__title h2 {
    font-weight: 600
}

.accordion-content-custome p {}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 14px;
}

details[open]>.header__menu-item {
    text-decoration: none;
    font-weight: bold
}

.header__submenu .header__menu-item:hover {
    text-decoration: none
}

.sec-scroll {
    width: 100%;
    overflow: auto;
    position: relative
}

.scroll-container {
    height: 2400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: visible;
    position: relative
}

.area-scroll-trigger {
    position: absolute;
    top: 0;
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
    gap: 30px;
}

.area-scroll-trigger.object-stay {
    position: fixed;
    top: 0;
    width: 70%;
    left: 15%;
    display: grid;
    gap: 30px;
}

.area-scroll-trigger.object-leave {
    position: absolute;
    top: unset;
    bottom: 100px;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    gap: 12px;
}

.list-image-item {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center
}

.list-image-item img {
    width: auto;
    height: 60vh;
    position: absolute;
    top: 0
}

.list-text-item {
    position: relative;
    top: -30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center
}

.list-text-item div {
    width: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out .3s
}

.title-animation {
    position: relative;
    top: 100px;
}

.title-animation h2 {
    letter-spacing: .8px;
}

.list-text-item p {
    text-align: center;
    font-size: 14px;
    letter-spacing: .8px;
    font-weight: 500;
    color: #005750;
}

.active,
.show {
    opacity: 1;
    transition: all ease-in-out .3s
}

.hide {
    opacity: 0;
    transition: all ease-in-out .3s
}

.progress-bar-item {
    position: relative;
    top: -30px;
    height: 10px;
    width: 100%;
    border-radius: 20px;
    background: #ededed;
    transition: all ease-in-out .3s
}

.progress-bar {
    width: 0;
    display: block !important;
    position: absolute;
    top: 0;
    height: 10px;
    border-radius: 20px;
    background-color: #005750;
    transition: all ease-in-out .3s
}

.number {

    line-height: 0;
    border: 1px solid #005750;
    background-color: #fff;
    border-radius: 1000px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #005750
}

.number.active {
    background-color: #005750;
    color: #fff;
    border: 1px solid #005750
}

.accordion-body {
    display: grid;

    gap: 10px;
    color: #005750;
    align-items: self-start;
    grid-template-columns: 24px 90%
}

.accordion-button.collapsed,
.accordion-button:focus,
.accordion-button {

    font-weight: 500;
    color: #005750;
}

.accordion-button:focus {
    border-color: #00575030;
    box-shadow: none
}

.accordion-button:not(.collapsed) {

    font-weight: 500;
    color: #005750;
    background-color: #00575030;
}

.header-accordion {
    margin-bottom: 20px
}

.header-accordion h5 {
    font-weight: 600;

    letter-spacing: .8px;
    line-height: normal;
    color: #005750
}

.img-accordion {
    position: relative;
    display: flex
}

.img-accordion img {
    width: 90%;
    margin: auto
}

.point-accordion {
    position: absolute;
    z-index: 10;
    top: 0
}

.pin-1 {
    position: absolute;
    left: 8%;
    top: 0;
}

.pin-2 {
    position: absolute;
    left: 8%;
    top: 18%;
}

.pin-3 {
    position: absolute;
    left: 8%;
    top: 28%;
}

.pin-4 {
    position: absolute;
    left: 8%;
    top: 42%;
}

.pin-5 {
    position: absolute;
    left: 8%;
    top: 54%;
}

.pin-6 {
    position: absolute;
    left: 8%;
    top: 82%;
}

.disclosure__button.localization-form__select.localization-selector:hover {
    text-decoration: none;
    font-weight: 600
}

.size-guide-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-icon-size {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.text-icon-size:hover {
    opacity: .5;
}

.text-icon-size svg {
    height: 18px;
    width: 18px
}

.size-guide-icon p,
.text-icon-size p {

    font-weight: 500
}

.pop-up-size {
    position: fixed;
    display: none;
    z-index: -1000;
    opacity: 0;
    transition: all ease-in-out .3s;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
}

.container-pop-up {
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.pop-up-size svg {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: -20px;
}

.pop-up-size img {
    width: auto;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}

.pop-up-size.active {
    display: block;
    opacity: 1;
    z-index: 1000;
    transition: all ease-in-out .3s;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-width-full {
    max-width: 100%;
    width: 100%;
    padding: 0px;
}

.list-social__item a svg {
    height: 18px;
    width: auto;
    transition: all ease-in-out .3s;
}

.list-social__item:hover {
    opacity: .5;
    transition: all ease-in-out .3s;
}

.media-social-icon {
    margin-top: 8px;
}

.range-layer {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.title-page {
    color: #005750;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

.range-layer svg {
    height: 12px;
    width: 12px;
}

.card-highlight-product {
    padding: 16px 12px;
    border-radius: 8px;
    background-color: #EEE7D5;
}

.title-product {
    font-size: 18px;
    color: #005750;
    font-weight: 600;
    text-align: center;
}

.row-card-product {
    padding: 24px;
}

.image-cover img,
.image-layer img,
.image-certificate img,
.icon-text img {
    width: 100%;
    border-radius: 8px;
    margin: auto;
}

.height,
.layer,
.size,
.image-layer,
.dec-layer,
.size,
.image-certificate,
.level-layer,
.desc-level-layer,
.image-cover,
.icon-text,
.decription-product,
.icon-text p,
.highlight-button-buy {
    margin-top: 14px;
}

.title-height,
.value-height,
.title-layer,
.dec-layer,
.size,
.image-cover,
.icon-text,
.decription-product,
.desc-level-layer,
.tagline-price,
.price-product-highlight,
.highlight-button-buy {
    font-size: 14px;
    color: #3D3D3D;
    font-weight: 400;
    text-align: center;
    letter-spacing: .8px;
}

.highlight-button-buy a {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #005750;
    color: #F0F0F0;
    text-decoration: none;
    opacity: 1;
}
.card__information_custome {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.article-card__excerpt.rte-width {
    color: #005750;
}

.highlight-button-buy a:hover {
    opacity: .8;
}

.video-slider,
.video-slider video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media screen and (min-width:280px) and (max-width:319px) {
    .row-medsos {
        margin-top: 40px
    }

    .form-email-custome {
        max-width: 100%
    }

    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0
    }

    .mascot-image {
        margin-top: 14px
    }

    .text-footer-lazy-lowie {
        margin-top: 20px
    }

    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start
    }

    .header-mobile {
        display: flex
    }

    .header-desktop {
        display: none
    }

    .section-custome {
        padding: 40px 10px
    }

    .section-custome-full {
        padding: 40px 0
    }

    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {

        font-weight: 500
    }

    .custom-nav-swiper::after {

        color: #005750
    }

    .post-content {
        margin-top: 20px
    }

    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750
    }

    .review-list-card {
        margin-top: 20px
    }

    

    .background-slider-desktop {
        display: none
    }

    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover
    }

    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px
    }

    .text-custome-slider h5 {
        max-width: 100%
    }

    .text-custome-slider a {

        max-width: 100%
    }

    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto
    }

    .product__media-custome img {
        border-radius: 16px !important
    }


    .list-image-item {
        position: relative;
        height: 50vh;
        display: flex;
        justify-content: center
    }

    .list-image-item img {
        width: auto;
        height: 50vh;
        position: absolute;
        top: 0
    }

    .list-text-item {
        height: 120px;
    }

    .area-scroll-trigger.object-stay {
        position: fixed;
        top: 0;
        width: 90%;
        display: grid;
        gap: 30px;
        margin: auto;
        left: auto;
        right: auto
    }

    .area-scroll-trigger.area-scroll-trigger.object-leave {
        display: grid;
        gap: 30px;
        margin: auto;
        left: auto;
        right: auto
    }

    .img-accordion {
        margin-bottom: 40px
    }

    

    .number {

        width: 20px;
        height: 20px;
    }

    .img-accordion img {
        width: 100%;
    }

    .pin-1 {
        position: absolute;
        left: 4%;
        top: 0;
    }

    .pin-2 {
        position: absolute;
        left: 4%;
        top: 16%;
    }

    .pin-3 {
        position: absolute;
        left: 4%;
        top: 28%;
    }

    .pin-4 {
        position: absolute;
        left: 4%;
        top: 42%;
    }

    .pin-5 {
        position: absolute;
        left: 4%;
        top: 54%;
    }

    .pin-6 {
        position: absolute;
        left: 4%;
        top: 82%;
    }

    .pop-up-size svg {
        margin-right: 0px;
    }

    .container-pop-up {
        height: 45%;
    }

    .list-text-item p {
        font-size: 14px;
    }

    .text-subscribe {

        font-weight: 600;
        width: 100%;
    }

    .desc-text-subscribe {

        width: 100%;
    }

    .card__information_custome {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .banner--fit_image:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
        aspect-ratio: 9/16 !important;
    }
}

@media screen and (min-width:320px) and (max-width:427px) {
    .row-medsos {
        margin-top: 40px
    }

    .form-email-custome {
        max-width: 100%
    }

    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0
    }

    .mascot-image {
        margin-top: 14px
    }

    .text-footer-lazy-lowie {
        margin-top: 20px
    }

    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start
    }

    .header-mobile {
        display: flex
    }

    .header-desktop {
        display: none
    }

    .section-custome {
        padding: 40px 10px
    }

    .section-custome-full {
        padding: 40px 0
    }

    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {

        font-weight: 500
    }

    .custom-nav-swiper::after {

        color: #005750
    }

    .post-content {
        margin-top: 20px
    }

    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750
    }

    .review-list-card {
        margin-top: 20px
    }

    .background-slider-desktop {
        display: none
    }

    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover
    }

    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px
    }

    .text-custome-slider h5 {

        max-width: 100%
    }

    .text-custome-slider a {

        max-width: 100%
    }

    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto
    }

    .product__media-custome img {
        border-radius: 16px !important
    }


    .list-image-item {
        position: relative;
        height: 50vh;
        display: flex;
        justify-content: center
    }

    .list-image-item img {
        width: auto;
        height: 50vh;
        position: absolute;
        top: 0
    }

    .list-text-item {
        height: 120px;
    }

    .area-scroll-trigger.object-stay {
        position: fixed;
        top: 0;
        width: 90%;
        display: grid;
        gap: 30px;
        margin: auto;
        left: auto;
        right: auto
    }

    .area-scroll-trigger.area-scroll-trigger.object-leave {
        display: grid;
        gap: 30px;
        margin: auto;
        left: auto;
        right: auto
    }

    .img-accordion {
        margin-bottom: 40px
    }

    .number {

        width: 20px;
        height: 20px;
    }

    .img-accordion img {
        width: 100%;
    }

    .pin-1 {
        position: absolute;
        left: 4%;
        top: 0;
    }

    .pin-2 {
        position: absolute;
        left: 4%;
        top: 16%;
    }

    .pin-3 {
        position: absolute;
        left: 4%;
        top: 28%;
    }

    .pin-4 {
        position: absolute;
        left: 4%;
        top: 42%;
    }

    .pin-5 {
        position: absolute;
        left: 4%;
        top: 54%;
    }

    .pin-6 {
        position: absolute;
        left: 4%;
        top: 82%;
    }

    .pop-up-size svg {
        margin-right: 0px;
    }

    .container-pop-up {
        height: 55%;
    }

    .list-text-item p {
        font-size: 14px;
    }

    .text-subscribe {

        font-weight: 600;
        width: 100%;
    }

    .desc-text-subscribe {

        width: 100%;
    }

    .card__information_custome {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .banner--fit_image:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
        aspect-ratio: 9/16 !important;
    }
}

@media screen and (min-width:428px) and (max-width:767px) {
    .row-medsos {
        margin-top: 40px
    }

    .form-email-custome {
        max-width: 100%
    }

    .mascot-image img {
        max-height: 70px;
        margin-top: auto;
        margin-left: 0
    }

    .mascot-image {
        margin-top: 14px
    }

    .text-footer-lazy-lowie {
        margin-top: 20px
    }

    .footer-menu-custome {
        margin-top: 20px;
        justify-content: flex-start
    }

    .header-mobile {
        display: flex
    }

    .header-desktop {
        display: none
    }

    .section-custome {
        padding: 40px 10px
    }

    .section-custome-full {
        padding: 40px 0
    }

    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {

        font-weight: 500
    }

    .custom-nav-swiper::after {

        color: #005750
    }

    .post-content {
        margin-top: 20px
    }

    .card-review {
        border-radius: 16px;
        padding: 16px;
        background-color: #005750
    }

    .review-list-card {
        margin-top: 20px
    }

    

    .background-slider-desktop {
        display: none
    }

    .background-slider-mobile {
        display: block;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: cover
    }

    .text-custome-slider {
        position: absolute;
        left: 30px;
        bottom: 60px
    }

    .text-custome-slider h5 {

        max-width: 100%
    }

    .text-custome-slider a {

        max-width: 100%
    }

    .guarantee-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto
    }

    

    .area-scroll-trigger.object-stay {
        position: fixed;
        top: 0;
        width: 90%;
        display: grid;
        gap: 15px;
        margin: auto;
        left: auto;
        right: auto
    }

    .list-text-item p {
        font-size: 16px;
    }

    .text-subscribe {

        font-weight: 600;
        width: 80%;
    }

    .desc-text-subscribe {

        width: 80%;
    }

    .card__information_custome {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .banner--fit_image:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
        aspect-ratio: 9/16 !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .row-medsos {
        margin-top: 80px
    }

    .form-email-custome {
        max-width: 75%
    }

    .header-mobile {
        display: none
    }

    .header-desktop {
        display: flex
    }

    .header-custome-middle {
        grid-template-columns: 1fr 2fr 1fr
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {

        font-weight: 500
    }

    .custom-nav-swiper::after {

        color: #005750
    }

    .text-custome-slider {
        left: 40px;
        bottom: 40px
    }

    .guarantee-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        max-width: 50%
    }

    .list-image-item {
        height: 60vh
    }

    .list-image-item img {
        height: 60vh
    }

    .list-text-item {
        height: 70px
    }

    .slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
        aspect-ratio: 1/1 !important;
    }

}

@media screen and (min-width:992px) and (max-width:1023px) {
    .row-medsos {
        margin-top: 80px
    }

    .form-email-custome {
        max-width: 75%
    }

    .header-mobile {
        display: none
    }

    .header-desktop {
        display: flex
    }

    .header-custome-middle {
        grid-template-columns: auto;
    }

    .header-custome-middle .header__inline-menu {
        text-align: center
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {
        font-weight: 500
    }

    .custom-nav-swiper::after {
        color: #005750
    }

    .slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
        aspect-ratio: 1/1 !important;
    }

}

@media screen and (min-width:1024px) and (max-width:1199px) {
    .row-medsos {
        margin-top: 60px
    }

    .form-email-custome {
        max-width: 50%
    }

    .header-mobile {
        display: none
    }

    .header-desktop {
        display: flex
    }

    .header-custome-middle {
        grid-template-columns: auto
    }

    .header-custome-middle .header__inline-menu {
        text-align: center
    }

    .title-banner h3 {
        text-align: center;

        font-weight: 600
    }

    .title-center-multicolumn {

        font-weight: 500
    }

    .custom-nav-swiper::after {

        color: #005750
    }

}