h1, 
p, 
a,
div {
    color: #F0F0F0;
}
.new-footer {
    background-color: #005750;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer a img {
    max-height: 60px;
}

.text-footer-lazy-lowie {
    max-width: 280px;
    font-size: 14px;
    margin-top: 40px;
}
.text-subscribe {
    font-size: 14px;
    font-weight: 600;
    margin-top: 14px;
}
.footer-menu-custome {
    display: flex;
    justify-content: end;
    gap: 40px;
}
.list-menu-footer {
    display: grid;
    gap: 8px;
}
.list-menu-footer a {
    text-decoration: none;
    font-size: 14px;
}
.list-menu-footer a:focus,
.list-menu-footer a:hover,
.list-menu-footer a:active  {
    text-decoration: underline;
}
.footer-media-social {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
}
.footer-media-social li a {
    color: #F0F0F0;
    padding: 0;
}

.row-medsos {
    margin-top: 80px;
}
.form-email-custome {
    max-width: 25%;
    margin-top: 16px;
}
.form-input-custome {
    height: 28px;
    padding: 0px;
    font-size: 12px;
}
.form-input-custome:focus,
.form-input-custome:active,
.form-input-custome:focus-visible {
    box-shadow: none;
    border: none;
}
.field-label-custome {
    top: 6px;
    font-size: 12px;
}
.custome-field-button {
    height: 100%;
}
.custome-field-button svg {
    height: 14px;
    width: 14px;
}
.form-input-custome:focus~.field-label-custome {
    font-size: 10px;
    top: 4px;
}
.newsletter-form-custome {
    border: #F0F0F0 !important;
}
.form-message-custome {
    font-size: 12px;
    color: #F0F0F0;
}
.mascot-image {
    display: flex;
    max-height: 100%;
}
.mascot-image img {
    max-height: 70px;
    margin-top: auto;
    margin-left: auto;
}
.divider-footer {
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    margin: 20px 0;
    display: block !important;
}
.year-development {
    font-size: 12px;
    color: #F0F0F0;
}
